.heading {
                padding: 60px;
                font-size: 25px;
                text-align: center;
                background: #4d8c4f;
            }
           
 
            .section {
               background-color: #E9E2FA;
               padding: 20px;
               margin-top: 30px;
            }
